*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(251, 241, 228);
    display: block;
    font-family: 'Courier New', Courier, monospace;
}

/*cabecera*/
header{
    display: flex;
    align-items: center;
    width: 70%;
    margin-left: 15%;
}

.logo{
    width: 300px;
}

.logo:hover{
    transform: scale(1.1);
    transition: 1s;
}

.titulo{
    font-size: 60px;
    color: gray;
    text-align: center;
}

/*Barra de Navegacion*/
nav{
    background-color: rgb(98, 98, 98);
    position: relative;
    padding: 1%;
}

.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu li a{
    color: azure;
    text-decoration: none;
    display: block;
}

.menu li a:hover{
    color: greenyellow;
}

.submenu{
    visibility: hidden;
    list-style: none;
    width: 15%;
    border-radius: 10%;
    padding: 3px;
    background: linear-gradient(90deg,rgb(59, 62, 59),rgb(186, 199, 166),rgb(59, 62, 59));
    position: absolute;
    z-index: 20;
    transition: 0.5s;
    opacity: 0;
}

.submenu li{
    position: relative;
    margin-top: 10px;
    z-index: 30;
}

li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

/*banner inicial*/
.estatico{
    background-size: 100%;
    background-image: url("../img/banner3.jpg");
    display: flex;
    justify-content: center;
    margin-top: 5%;
    width: 70%;
    margin-left: 15%;
}

.estatico h2{
    display: flex;
    position: relative;
    z-index: 10;
    color: greenyellow;
    font-size: 70px;
    margin: 100px 20px 20px 20px;
}

.estatico p{
    display: flex;
    position: relative;
    font-size: 30px;
    margin: 70px 20px 20px 20px;
    text-align: justify;
    color: gray;
    font-weight: 550;
}

/*Contenido*/
.contenido{
    display: table;
    width: 66%;
    margin-left: 15%;
}

.entidad{
    display: table-cell;
    padding-top: 30px;
}

.articulo{
    column-count: 2;
    column-gap: 50px;
}

.articulo .imgcont{
    width: 100%;
}

.articulo h2{
    font-size: 30px;
    text-align: justify;
}

.articulo p{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: justify;
}

/*Blog*/
.comentarios{
    background-color: rgb(235, 235, 235);
    margin-top: 30px;
    border-radius: 25px;
    width: 100%;
}

.comentarios article:nth-child(odd){
    background-color: rgb(203, 204, 204);
    border-radius: 25px;
}

.comentarios article{
    display: flex;
}

.comentarios article div{
    width: 100%;
    text-align: center;
    padding: 10px;
}

.comentarios p{
    padding: 20px;
}

.comentarios article a{
    display: block ;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/*Formulario*/
.formulario{
    position: relative;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #d7d7d7;
}

.formulario p{
    display: table;
    margin-top: 20px;
}

.formulario label{
    display: table-cell;
    width: 40%;
    padding-right: 20px;
    text-align: right;
    font-weight: bold;
}

.formulario input {
    display: table-cell;
    width: 300px;
    height: 30px;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
}

.formulario textarea{
    max-width: 300px;
    margin-left: 200px;
    resize: horizontal;
}

.formulario button{
    border-radius: 5px;
    margin: 10px 0 0 200px;
    padding: 3px;
    color: aliceblue;
    background-color: rgb(57, 149, 180);
}

.formulario button:hover{
    transform: scale(1.1);
    color: black;
}

/*Aside*/
aside{
    display: table-cell;
    margin-right: 0px;
}

aside section{
    margin-left: 50px;
    list-style: none;
    border: 1px solid #d7d7d7;
    padding: 10px;
}

aside section h3{
    margin: 10px 0;
}

aside section a {
    display: block;
    text-decoration: none;
    color: #000;
    margin-left: 10px;
    padding-bottom: 10px;
}

aside section a:hover {
    text-decoration: underline;
}

section img{
    box-shadow: 3px 3px 7px #777;
}

/*pie de pagina*/
footer{
    position: absolute;
    margin-top: 30px;
    background-color: rgb(203, 204, 204);
    display: table;
}

.pie{
    width: 70%;
    margin-left: 15%;
}

.pie section{
    position: relative;
    display: table-cell;
    padding: 20px;
    width: 30%;
    text-align: justify;
}

.pie section a{
    text-decoration: none;
    color: rgb(136, 137, 137);;
}

.pie section a:hover{
    color: rgb(58, 58, 58);
    text-decoration: underline;
}

.pie section li{
    list-style: none;
}

.pie section i{
    margin-top: 20px;
    color: black;
}

.pie section i:hover{
    transform: scale(1.2);
}