*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    overflow: hidden;
}
.bloque{
    width: 100%;
    flex-shrink: 0;
    height: 100vh;
}
.contenido{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.enviar:hover{
    background-color:green;
    color:white;
    transform: scaleX(1.1);
    transition: all 0.2s ease-in-out;
}

/*MENU*/
header{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-image: url(../img/spa.jpg);
    text-align: center;
    z-index: 100;
}
header a{
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    color: bisque;
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
}
header a:hover{
    color:green;
    transform: scaleX(1.1);
    transition: all 0.2s ease-in-out;
}
header span{
    display: inline-block;
    height: 60px;
    width: 60px;
    line-height: 40px;
    border: 2px solid wheat;
    border-radius: 50%;
    padding: 3px;
}
.icono_menu img{
    width: 40px;
    height: 40px;
}

/*INICIO*/
#inicio{
    background-image: url(../img/hotel.jpg);
    background-size: 100%;
    background-position: left bottom;
    filter: brightness(60%);
}
#inicio .contenido h1{
    margin: 40px;
    font-size: 40px;
    color:aliceblue;
    text-shadow: 3px 3px 10px black;
}
#inicio .formulario{
    color: aliceblue;
    background-color:gray;
    margin: 10%;
    padding: 2%;
    width: 500px;
    height: 210px;
    border-radius: 10px;
    text-shadow: 3px 3px 10px black;
    box-shadow: 3px 3px 10px black;
}
#inicio .info{
    position: relative;
    margin: 5%;
    display: flex;
    justify-content:space-between
}
#inicio input{
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
}

/*SERVICIOS*/
#servicios{
    display: grid;
    place-items: center;
    background-image: url(../img/servivios.jpg);
    background-size: 100%;
    background-position: left bottom;
    filter: brightness(70%);
}
#servicios h2{
    margin: 20px;
    font-size: 40px;
    color:aliceblue;
    text-shadow: 3px 3px 10px black;
}
.container{
    position: relative;
    width: 70%;
    height: 100vh;
    color:aliceblue;
}
.servicios{
    display: flex;
    width: 100%;
    height: 100%;
}
.service{
    position: relative;
    height: 90vh;
    width: 25%;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    cursor: pointer;
    margin: 0px 2px 0px 2px;
}
.service img{
    position: relative;
    width: 200%;
    height: 100%;
    transition: 2s;
}
.service img:hover{
    transform: translateX(-30%);
    filter: brightness(20%);
}
.text{
    position: absolute;
    top: 40%;
    left: 10%;
    font-weight: 700;
    font-size: 30px;
    color: transparent;
    transition: all 0.5 ease-in-out;
}
.service:hover{
    width: 40%;
}
.service:hover .text{
    color: aliceblue;
    transform: scale(1);
}

/*RESERVAS*/
#reservas{
    background-image: url(../img/reservas.jpg);
    background-size: 100%;
    background-position: left bottom;
    filter: brightness(60%);
    padding: 5%;
}
#reservas h2{
    font-size: 40px;
    color:aliceblue;
    text-shadow: 3px 3px 10px black;
}
#reservas .contenido{
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 5%;
}
#reservas p{
    background-color: rgb(182, 180, 180);
    box-shadow: 3px 3px 10px black;
    opacity: 0.7;
    font-size:20px;
    text-align: justify;
    padding: 20px;
    margin:20px;
    width: 50%;
    border-radius: 10px;
}
#reservas a{
    text-decoration: none;
    color:aliceblue;
    font-size: 25px;
    font-weight: bold;
}
#reservas .overlay{
    margin: 15px;
    padding: 8px;
    background-color: gray;
    border-radius: 10px;
    text-align: center;
}
#reservas .overlay:hover{
    background-color:green;
    transform: scaleX(1.1);
    transition: all 0.2s ease-in-out;
}

/*CONTACTO*/
#contactos .contenido{
    background-image: url(../img/contactos.jpg);
    background-size: 100%;
    background-position: top;
    filter: brightness(60%);
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
    text-shadow: 3px 3px 10px black;
    width: 100%;
    height: 100%;
}
#contactos .datos, .formulario{
    background-color: gray;
    border-radius: 15px;
    box-shadow: 3px 3px 10px black;
    opacity: 80%;
    padding: 20px;
}
#contactos .item{
    display: flex;
    padding: 10px;
}
#contactos .icono{
    margin-right: 10px;
    color: black;
}
#contactos .info, h2{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
#contactos input, textarea{
    border-radius: 5px;
    padding: 5px;
}

/*REGISTRO*/
#registro .contenido{
    background-image: url(../img/banner2.jpg);
    background-size: 100%;
    background-position: top;
    filter: brightness(60%);
    color: aliceblue;
    text-shadow: 3px 3px 10px black;
    width: 100%;
    height: 100%;
}
#registro form{
    background-color: gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 10px black;
    opacity: 80%;
    padding: 20px;
}
#registro .info{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
#registro .info input, select{
    border-radius: 5px;
    padding: 5px;
    margin-left: 30px;
    width: 60%;
}
#registro .check{
    margin: 10px 0 20px;
    width: 10%;
}
#registro .enviar{
    padding: 5px;
    border-radius: 5px;
}
